#about {
  position: relative;
  z-index: 3;
}

.about {
  padding: vwCalc(314) 0;
  position: relative;
  z-index: 3;
  
  &__title {
    color: $font-color-light;
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    margin: 0 0 rem(15px);
  }

  &__copy {
    color: $font-color-light;
    font-size: $font-size-h6;
    line-height: $line-height-base;
    margin: 0 0 rem(35px);
  }

  &__more {
    display: inline-block;
  }

  &__background {
    height: 100%;
    left: 0;
    position: absolute !important;
    top: 0;
    width: 100%;
    opacity: 1 !important;
  }
}

@media (min-width: $min-width-xxl) {
  .about {
    padding: 545px 0;
  }
}

@media (max-width: $max-width-md) {
  .about {
    padding: vwMdCalc(215) 0;

    &__title {
      font-size: $font-size-h4;
      margin: 0 0 rem(20px);
    }
  
    &__copy {
      font-size: $font-size-h7;
      margin: 0 0 rem(40px);
    }
  }
}

@media (max-width: $max-width-sm) {
  .about {
    padding: vwSmCalc(215) 0;

    &__title {
      &__head-line {
        display: block;
      }
    }
  }
}

@media (max-width: $max-width-xs) {
  .about {
    padding: vwXsCalc(110) 0;
    text-align: center;

    &__title {
      font-size: $font-size-h5;
    }
  
    &__copy {
      font-size: $font-size-copy;
      margin: 0 0 rem(35px);
    }
  }
}
