.button {
  border: $border-base-light;
  border-radius: $border-radius-base;
  box-sizing: border-box;
  color: $font-color-light;
  cursor: pointer;
  padding: rem(11px) rem(50px) rem(10px);
  text-align: center;
  text-decoration: none;
  transition: background-color .3s, color .3s, border-color .3s;
  @include font-button;

  &:hover {
    background-color: $bg-light-alpha;
  }

  &:focus {
    outline: none;
  }

  &--primary {
    background-color: $blue-3;
    border: $border-base-blue;
    color: $font-color-light;

    &:hover {
      background-color: $clean-blue;
      border: $border-base-clean-blue;
    }

    &:focus {
      background-color: $clean-blue-light;
      border-color: $clean-blue-light;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px $clean-blue-light;
    }

    &:active {
      background-color: $blue-brand;
      border-color: $blue-brand;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px $blue-brand;
    }
  }

  &--secondary {
    border: $border-base-blue;
    color: $font-color-blue;

    &:hover {
      border: $border-base-clean-blue;
      color: $clean-blue;
    }
  }
}