.button {
  border: $border-base-light;
  border-radius: $border-radius-base;
  box-sizing: border-box;
  color: $font-color-light;
  padding: rem(11px) rem(50px) rem(10px);
  text-align: center;
  text-decoration: none;
  transition: background-color .3s, color .3s, border-color .3s;
  @include font-button;

  &:hover {
    background-color: $bg-light-alpha;
  }

  &--secondary {
    border: $border-base-blue;
    color: $font-color-blue;

    &:hover {
      border: $border-base-clean-blue;
      color: $clean-blue;
    }
  }
}