.button {
  border: $border-base-light;
  border-radius: $border-radius-base;
  box-sizing: border-box;
  color: $font-color-light;
  cursor: pointer;
  padding: rem(10px) rem(24px) rem(10px);
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s, color .3s, border-color .3s;
  @include font-button;

  &:hover {
    background-color: $bg-light-alpha;
  }

  &:focus {
    outline: none;

    &::after {
      border: 2px solid $white;
      border-radius: $border-radius-lg;
      content: '';
      display: block;
      height: calc(100% + 10px);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 10px);
    }
  }

  &--primary {
    background-color: $blue-3;
    border: $border-base-blue;
    color: $font-color-light;

    &:hover {
      background-color: $clean-blue;
      border: $border-base-clean-blue;
    }

    &:focus {
      background-color: $clean-blue-light;
      border-color: $clean-blue-light;

      &::after {
        border-color: $clean-blue-light;
      }
    }

    &:active {
      background-color: $blue-brand;
      border-color: $blue-brand;
      box-shadow: 0 0 0 2px $white, 0 0 0 4px $blue-brand;
    }
  }

  &--secondary {
    background-color: transparent;
    border: $border-base-blue;
    color: $font-color-blue;

    &:hover {
      border: $border-base-clean-blue;
      color: $clean-blue;
    }

    &:focus {
      border-color: $clean-blue-light;

      &::after {
        border-color: $clean-blue-light;
      }
    }
  }
}