@keyframes cardsZigZag {
  0% {
    transform: translate(-1%, -1%);
  }
  25% {
    transform: translate(1%, 1%);
  }
  50% {
    transform: translate(-1%, 1%);
  }
  75% {
    transform: translate(1%, -1%);
  }
  100% {
    transform: translate(-1%, -1%);
  }
}

.cards {
  background-color: $blue-1;
  overflow: hidden;
  padding: vwCalc(114) 0 0;
  position: relative;
  text-align: center;
  
  &__title {
    color: $font-color-light;
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    margin: 0 0 rem(15px);
  }

  &__copy {
    color: $font-color-light;
    font-size: $font-size-h6;
    margin: 0 0 rem(34px);
  }

  &__screen {
    height: vwCalc(673);
    margin: 0 auto;
    width: vwCalc(541);
    position: relative;
    z-index: 2;
  }

  &__back {
    bottom: 0;
    height: vwCalc(593);
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: vwCalc(1310);
    z-index: 1;

    &__left {
      height: vwCalc(533);
      left: 0;
      position: absolute !important;
      top: 0;
      transform: translate(-50%, 0);
      width: vwCalc(436);
      animation-name: cardsZigZag;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
      animation-direction: alternate;
      animation-fill-mode: both;
    }

    &__right {
      height: vwCalc(533);
      position: absolute !important;
      right: 0;
      top: 0;
      transform: translate(-50%, 0);
      width: vwCalc(436);
      animation-name: cardsZigZag;
      animation-duration: 6s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
      animation-direction: alternate;
      animation-fill-mode: both;
    }

    &__mobile {
      display: none;
    }
  }

  &__legal {
    bottom: 30px;
    color: $font-color-light;
    left: 30px;
    line-height: $line-height-base;
    margin: 0;
    max-width: 297px;
    position: absolute;
    text-align: left;
    z-index: 3;
  }
}

@media (min-width: $min-width-xxl) {
  .cards {
    padding: 150px 0 0;

    &__copy {
      margin: 0 0 rem(115px);
    }

    &__screen {
      height: 1052px;
      width: 845px;
    }

    &__back {
      height: 844px;
      width: 2026px;
      
  
      &__left {
        height: 758px;
        width: 622px;
      }
  
      &__right {
        height: 758px;
        width: 622px;
      }
  
      &__mobile {
        display: none;
      }
    }
  }
}

@media (max-width: $max-width-md) {
  .cards {
    padding: vwMdCalc(100) 0 0;

    &__title {
      font-size: $font-size-h4;
      margin: 0 0 rem(20px);
    }

    &__copy {
      font-size: $font-size-h7;
      margin: 0 0 rem(39px);
    }

    &__screen {
      height: vwMdCalc(498);
      width: vwMdCalc(401);
    }

    &__back {
      height: vwMdCalc(395);
      width: vwMdCalc(932);
      
      &__left {
        height: vwMdCalc(395);
        width: vwMdCalc(323);
      }
  
      &__right {
        height: vwMdCalc(395);
        width: vwMdCalc(323);
      }
  
      &__mobile {
        display: none;
      }
    }

    &__legal {
      background: linear-gradient(180deg, rgba(11, 38, 81, 0) 18%, rgba(7, 26, 55, 0.83) 70%);
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      padding: 100px 20px 20px;
      box-sizing: border-box;
      text-align: center;
    }
  }
}

@media (max-width: $max-width-sm) {
  .cards {
    padding: vwSmCalc(100) 0 0;
    
    &__title {
      margin: 0 0 rem(20px);
    }
  
    &__copy {
      font-size: $font-size-copy;
      margin: 0 0 rem(100px);
    }

    &__screen {
      height: vwSmCalc(694);
      transform: translate(-15%, 0);
      width: vwSmCalc(559);
      z-index: 1;
    }

    &__back {
      height: vwSmCalc(551);
      position: absolute;
      transform: translate(-15%, 0);
      width: vwSmCalc(336);
      z-index: 2;
  
      &__left {
        display: none;
      }
  
      &__right {
        display: none;
      }

      &__mobile {
        display: block;
        height: vwSmCalc(504);
        left: 50%;
        position: absolute !important;
        top: 0;
        transform: translate(-50%, 0);
        width: vwSmCalc(336);
      }
    }
  }
}

@media (max-width: $max-width-xs) {
  .cards {
    padding: vwXsCalc(78) 0 0;
    
    &__title {
      font-size: $font-size-h5;
      margin: 0 0 rem(20px);
    }
  
    &__copy {
      margin: 0 0 rem(133px);
    }

    &__screen {
      height: vwXsCalc(467);
      transform: translate(-5%, 0);
      width: vwXsCalc(376);
    }

    &__back {
      height: vwXsCalc(379);
      transform: translate(-25%, 0);
      width: vwXsCalc(238);

      &__mobile {
        height: vwXsCalc(357);
        transform: translate(-50%, 0);
        width: vwXsCalc(238);
      }
    }

    &__legal {
      background: transparent;
      bottom: vwXsCalc(507);
    }
  }
}


@media (prefers-reduced-motion: reduce) {
  .cards {
    &__back {
      &__left {
        animation-duration: 0s;
      }
  
      &__right {
        animation-duration: 0s;
      }
    }
  }
}
