.header {
  border-bottom: $border-base-light-alpha;
  display: grid;
  grid-template: 1fr / 230px auto 230px;
  height: 90px;
  padding: 0 calc((100vw - 2560px) / 2);

  &__brand {
    height: 36px;
    margin: 0 0 0 30px;
    place-self: center start;
    width: 148px;

    &__image {
      fill: $white;
    }

    &__name {
      color: $font-color-light;
      @include sl-only;
    }
  }

  .nav {
    &__link {
      
      border-bottom: 5px solid $gold;
      margin-bottom: -5px;
    }
  }

  &__contact {
    place-self: center start;
    width: 200px;
  }
}