@keyframes headerSlideDown {
  from {
    transform: translate(0, -90px);
  }

  to {
    transform: translate(0, 0);
  }
}

.header {
  background: transparent;
  border-bottom: $border-base-light-alpha;
  display: grid;
  grid-template: 1fr / 230px auto 230px;
  height: 90px;
  position: absolute;
  transform: translate(0, 0);
  transition: background-color 0s;
  width: 100%;
  max-width: 2560px;
  z-index: 10;

  &__menu {
    display: none;
  }

  &__brand {
    height: 36px;
    margin: 0 0 0 30px;
    place-self: center start;
    width: 148px;

    &__image {
      fill: $white;
      transition: fill 0s, transform 0 ease-out;
      transform-origin: left center;
    }

    &__name {
      @include sl-only;
    }  
  }

  .nav {
    &__link {
      border-bottom: 5px solid $gold;
      margin-bottom: -5px;
      transition: color 0s, border .3s;
    }
  }

  &__contact {
    place-self: center start;
    width: 200px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1)
    }
  }

  &--fixed {
    animation: headerSlideDown .3s ease-out;
    background-color: $white;
    height: 80px;
    position: fixed;
    transition-duration: 0s;
    top: 0;

    & .header {
      &__brand {
        &__image {
          fill: $blue-1;
          transform: scale(.72);
          transition-duration: 0s;
        }
      }

      &__nav {
        .nav__link {
          border-bottom-color: fade-out($gold, 1);
          color: $font-color-blue;
          margin: 0 20px -5px;
          padding: 0;

          &:first-child {
            margin-left: 0;
          }
      
          &:last-child {
            margin-right: 0;
          }

          &--active {
            border-bottom-color: $gold;
          }
        }
      }

      &__contact {
        background-color: $blue-3;
        &:hover {
          background-color: $clean-blue;
        }
      }
    }
  }
}

@media (max-width: 812px) {
  .header {
    height: 70px;
    grid-template: 1fr / auto auto auto;

    &::after {
      background: $gold;
      content: '';
      display: block;
      height: 5px;
      margin: 0;
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translate(-50%, 0);
      width: vwMCalc(200);
    }

    &__menu {
      display: inline-block;
      grid-area:  1 / 3 / 2 / 4;
      place-self: center end;
      padding-right: 20px;
    }

    &__brand {
      height: 24px;
      margin: 0 0 0 20px;
      width: 98px;
      position: relative;
      top: -10px;

      &__image {
        width: 100%;
        height: 100%;
      }
    }

    &__nav.nav {
      display: none;
    }

    &__contact {
      display: none;
    }
  }
}