.hero {
  background-color: $blue-1;
  box-sizing: border-box;
  overflow: hidden;
  padding: vwCalc(204) 0 0;
  position: relative;
  
  &__title {
    color: $font-color-light;
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    margin: 0 0 rem(15px);
    text-align: center;
  }

  &__copy {
    color: $font-color-light;
    font-size: $font-size-h6;
    margin: 0 0 rem(105px);
    text-align: center;
  }

  &__screens-front {
    bottom: -1px;
    height: vwCalc(594);
    margin: 0 auto;
    position: relative;
    width: vwCalc(372);
    z-index: 2;
  }

  &__screens-back {
    bottom: 0;
    height: vwCalc(514);
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: vwCalc(1025);
    z-index: 1;

    &__left {
      height: vwCalc(514);
      left: 0;
      position: absolute;
      width: vwCalc(374);
      top: 2px;
    }

    &__right {
      height: vwCalc(514);
      right: 0;
      position: absolute;
      width: vwCalc(374);
      top: 0;
    }
  }

  &__legal {
    bottom: 30px;
    color: $font-color-light;
    left: 30px;
    line-height: $line-height-base;
    margin: 0;
    max-width: 297px;
    position: absolute;
    z-index: 3;
  }
}

@media (min-width: $min-width-xxl) {
  .hero {
    padding: 230px 0 0;

    &__screens-front {
      height: 962px;
      width: 603px;
    }

    &__screens-back {
      height: 830px;
      width: 1660px;
  
      &__left {
        height: 830px;
        width: 605px;
      }
  
      &__right {
        height: 831px;
        width: 581px;
      }
    }
  }
}

@media (max-width: $max-width-md) {
  .hero {
    padding: 163px 0 0;

    &__title {
      font-size: $font-size-h4;
      margin: 0 30px 15px;
    }

    &__copy {
      font-size: $font-size-h7;
      margin: 0 0 70px;
    }  
    
    &__screens-front {
      height: vwMdCalc(436);
      width: vwMdCalc(273);
    }

    &__screens-back {
      height: vwMdCalc(376);
      width: vwMdCalc(752);
  
      &__left {
        height: vwMdCalc(376);
        width: vwMdCalc(275);
      }
  
      &__right {
        height: vwMdCalc(377);
        width: vwMdCalc(263);
      }
    }

    &__legal {
      background: linear-gradient(180deg, rgba(11, 38, 81, 0) 18%, rgba(7, 26, 55, 0.83) 70%);
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      padding: 100px 20px 20px;
      box-sizing: border-box;
      text-align: center;
    }
  }
}

@media (max-width: $max-width-sm) {
  .hero {
    padding: vwSmCalc(167) 0 0;

    &__title {
      margin: 0 0 15px;
      padding: 0 120px;
    }
  
    &__copy {
      font-size: 1rem;
      margin: 0 0 55px;
    }

    &__screens-front {
      height: vwSmCalc(631);
      width: vwSmCalc(395);
    }

    &__screens-back {
      height: vwSmCalc(525);
      width: vwSmCalc(1050);

      &__left {
        height: vwSmCalc(524);
        width: vwSmCalc(382);
      }
  
      &__right {
        height: vwSmCalc(525);
        width: vwSmCalc(367);
      }
    }
  }
}

@media (max-width: $max-width-xs) {
  .hero {
    padding: vwXsCalc(152) 0 0;

    &__title {
      font-size: $font-size-h5;
      padding: 0 20px;
    }
  
    &__copy {
      font-size: 1rem;
      margin: 0 0 73px;
    }

    &__screens-front {
      height: vwXsCalc(418);
      width: vwXsCalc(263);
    }

    &__screens-back {
      height: vwXsCalc(360);
      width: vwXsCalc(723);

      &__left {
        height: vwXsCalc(360);
        width: vwXsCalc(263);
      }
  
      &__right {
        height: vwXsCalc(362);
        width: vwXsCalc(252);
      }
    }
  }
}