.mission {
  padding: vwCalc(140);
  background-color: $gray-4;
  position: relative;
  z-index: 4;
  
  &__copy {
    color: $font-color-blue;
    font-size: $font-size-h3;
    font-weight: $font-weight-base;
    margin: 0 auto rem(14px);
    text-align: center;
  }

  &__by {
    color: $font-color-gray;
    font-size: $font-size-h6;
    text-align: center;
  }
}

@media (min-width: $min-width-xxl) {
  .mission {
    padding: 140px 0;
  }
}

@media (max-width: $max-width-md) {
  .mission {
    padding: vwMdCalc(100) 0;

    &__copy {
      font-size: $font-size-h5;
      margin: 0 0 rem(20px);
    }
  
    &__by {
      font-size: $font-size-h7;
    }
  }
}

@media (max-width: $max-width-xs) {
  .mission {
    padding: vwXsCalc(100) 0;

    &__copy {
      font-size: $font-size-h6;
      margin: 0 0 rem(26px);
    }
  
    &__by {
      font-size: $font-size-copy;;
    }
  }
}