.nav {
  display: flex;
  justify-content: center;
  place-self: stretch center;
  position: relative;

  &__wrap {
    display: flex;
    justify-content: center;
    place-self: stretch center;
    position: relative;
  }

  &__link {
    align-items: center;
    color: $font-color-light;
    cursor: pointer;
    display: flex;
    font-size: rem(20px);
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    box-sizing: content-box;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:focus {
      outline: none;

      &::after {
        border: 2px solid $white;
        content: '';
        display: block;
        height: rem(40px);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 20px);
      }
    }
  }
}