.selling {
  box-sizing: border-box;
  height: vwCalc(980);
  overflow: hidden;
  padding: vwCalc(114) 0 0;
  position: relative;
  z-index: 2;
  opacity: 1 !important;
  
  &__title {
    color: $font-color-light;
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    margin: 0 0 15px;
    text-align: center;
  }

  &__copy {
    color: $font-color-light;
    font-size: $font-size-h6;
    text-align: center;
  }
}

@media (min-width: $min-width-xxl) {
  .selling {
    height: 1440px;
  }
}

@media (max-width: $max-width-md) {
  .selling {
    height: vwMdCalc(768);
    padding: vwMdCalc(100) 0 0;

    &__title {
      font-size: $font-size-h4;
    }
  
    &__copy {
      font-size: $font-size-h7;
    }
  }
}

@media (max-width: $max-width-sm) {
  .selling {
    height: vwSmCalc(1024);
    padding: vwSmCalc(100) 0 0;
  }
}

@media (max-width: $max-width-xs) {
  .selling {
    height: vwXsCalc(812);
    padding: vwXsCalc(80) 0 0;

    &__title {
      font-size: $font-size-h5;
    }
  
    &__copy {
      font-size: $font-size-copy;
    }
  }
}