.support {
  background-color: $gray-light;
  padding: vwCalc(110) 0 vwCalc(100);
  text-align: center;
  
  &__title {
    color: $font-color-blue;
    font-size: $font-size-h2;
    font-weight: $font-weight-base;
    margin: 0 0 rem(15px);
  }

  &__copy {
    color: $font-color-gray;
    font-size: $font-size-h6;
    margin: 0 0 rem(27px);
  }

  &__more {
    display: inline-block;
  }
}

@media (min-width: $min-width-xxl) {
  .support {
    padding: 180px 0;
  }
}

@media (max-width: $max-width-md) {
  .support {
    padding: vwMdCalc(100) 0;
  
    &__copy {
      margin: 0 0 rem(30px);
    }
  }
}

@media (max-width: $max-width-sm) {
  .support {
    padding: vwSmCalc(55) 0 vwSmCalc(82);

    &__title {
      font-size: $font-size-h4;
      margin: 0 0 rem(20px);
    }
  
    &__copy {
      font-size: $font-size-h7;
    }
  }
}

@media (max-width: $max-width-xs) {
  .support {
    padding: vwXsCalc(65) 0 vwXsCalc(386);
    background-position: 50% 100%;

    &__title {
      font-size: $font-size-h5;
      margin: 0 0 rem(20px);
    }
  
    &__copy {
      font-size: $font-size-copy;
    }
  }
}
