body {
  @include font-base;
  background: $gray-4;
}

.wrap {
  padding: 0 calc((100vw - 2560px) / 2);
}

.skiplink {
  &__action {
    background-color: $white;
    border-radius: $border-radius-base;
    box-sizing: border-box;
    color: $font-color-blue;
    display: inline-block;
    left: -9999em;
    outline: none;
    padding: rem(11px) rem(50px) rem(10px);
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 20px;
    @include font-button;
    z-index: 99;

    &:focus {
      left: 20px;

      &::after {
        border: 2px solid $white;
        border-radius: $border-radius-lg;
        content: '';
        display: block;
        height: calc(100% + 10px);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 10px);
      }
    }
  }
}

.sl-only {
  @include sl-only;
}

@media (prefers-reduced-motion: reduce) {
  *:hover,
  :focus {
    transition-duration: 0s;
  }
}