@mixin sl-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin link-body {
  color: $blue-expanded-2;
  text-decoration: none;

  &:hover,
  &:active {
    color: $blue-expanded-2;
  }

  &:focus {
    color: $blue-expanded-1;
    outline: 2px solid $clean-blue-light;
  }

  &:visited {
    color: $blue-3;
  }
}