.page-about {
  background-color: $white;
  
  &__picture {
    margin: 0 60px 0 0;
  }

  &__title {
    color: $font-color-blue;
    font-size: $font-size-h4;
    font-weight: $font-weight-bold;
  }

  &__content {
    color: $font-color-gray;
    font-size: $font-size-copy;

    p {
      margin: 0 0 2rem;
    }

    &__note {
      font-size: $font-size-body2
    }
  }

  .no-gutters {
    padding: 0;
  }
}

@media ( max-width: $max-width-md ) {
  .page-about {
    &__picture {
      margin: 0;
    }
  
    &__title {
      padding: 0 15px;
    }

    &__content {
      padding: 0 15px;
    }
  }
}

@media ( max-width: $max-width-sm ) {
  .page-about {
      &__title {
      font-size: $font-size-h6;
    }
  }
}