.page-contact-us {
  background-color: $white;
  padding: rem(200px) 0 0;
  min-height: calc(100vh - 552px);

  .row {
    margin: 0;
  }

  &__icon {
    height: 200px;
    margin: rem(40px) auto rem(18px);
    display: block;
    width: 200px;
  }

  &__title {
    color: $font-color-blue;
    font-size: $font-size-h6;
    font-weight: $font-weight-bold;
    margin: 0 0 rem(40px);
    text-align: center;
  }

  &__copy {
    color: $font-color-gray;
    font-size: $font-size-copy;
    margin: 0 0 rem(100px);
    text-align: center;
  }

  .contact-us {
    &__group {
      border: none;
      padding: 0;
      margin: 0 0 rem(30px);

      &:last-child,
      &:first-child {
        margin: 0;
      }

      .row {
        margin: 0 -15px;
      }

      &--row {
        display: flex;
      }

      &__name {
        color: $font-color-gray;
        display: block;
        font-size: $font-size-base;
        font-weight: $font-weight-base;
        margin: 0 0 rem(48px);
        text-align: center;
        width: 100%;

        &--alt {
          color: $font-color-gray;
          font-size: $font-size-base;
          font-weight: $font-weight-base;
          margin: 0 0 rem(10px);
          text-align: center;
          width: 100%;
        }
      }
    }

    &__legal {
      color: $gray-5;
      font-size: rem(14px);
      margin: 0 0 rem(34px);
      a {
        @include link-body;
      }
    }

    &__submit {
      display: block;
      margin: 0 auto rem(115px);
    }
  }

  .form-field-radio {
    align-items: center;
    border: $border-base-gray;
    border-radius: $border-radius-sm;
    cursor: pointer;
    color: $font-color-blue;
    display: flex;
    justify-content: center;
    margin: 0 0 rem(40px);
    padding: rem(10px) rem(20px);
    position: relative;
    width: 50%;

    &::before {
      border: 2px solid $clean-blue-light;
      border-radius: $border-radius-sm;
      content: '';
      display: block;
      height: calc(100% + 10px);
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transition: opacity 0.3s;
      transform: translate(-50%, -50%);
      width: calc(100% + 10px);
    }

    &--left {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &::before {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &--right {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &::before {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &__label {
      &--mobile {
        display: none;
      }
    }

    &:focus {
      outline: none;

      &::before {
        opacity: 1;
      }
    }
  }

  input[type="radio"]:checked + .form-field-radio {
    background-color: $font-color-blue;
    color: $font-color-light;
  }

  .form-field {
    color: $font-color-gray;
    display: flex;
    flex-direction: column;
    margin: 0 0 rem(22px);
    position: relative;

    &__text {
      background-color: $white;
      border: $border-base-gray;
      border-radius: $border-radius-sm;
      margin: 4px 0;
      padding: 13px;
      transition: border-color 0.3s, box-shadow 0.3s;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus {
        border-color: $clean-blue-light;
        box-shadow: 0 0 0 1px $clean-blue-light;
        outline: none;
      }

      &--error {
        border-color: $error-color;

        &:focus {
          border-color: $error-color;
          box-shadow: 0 0 0 1px $error-color;
        }
      }
    }

    &__select {
      background: $white url(../images/arrow-down-small.png) no-repeat 96% 50%;
      background-size: 24px 24px;
      border: $border-base-gray;
      border-radius: $border-radius-sm;
      margin: 4px 0;
      padding: 13px;
      transition: border-color 0.3s, box-shadow 0.3s;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus {
        border-color: $clean-blue-light;
        box-shadow: 0 0 0 1px $clean-blue-light;
        outline: none;
      }

      &--error {
        border-color: $error-color;

        &:focus {
          border-color: $error-color;
          box-shadow: 0 0 0 1px $error-color;
        }
      }
    }

    &__textarea {
      background-color: $white;
      border: $border-base-gray;
      border-radius: $border-radius-sm;
      height: 200px;
      margin: 4px 0;
      padding: 13px;
      resize: none;

      &:focus {
        border-color: $clean-blue-light;
        box-shadow: 0 0 0 1px $clean-blue-light;
        outline: none;
      }

      &--error {
        border-color: $error-color;

        &:focus {
          border-color: $error-color;
          box-shadow: 0 0 0 1px $error-color;
        }
      }
    }

    &__error {
      align-items: center;
      bottom: -20px;
      color: $error-color;
      display: flex;
      font-size: $font-size-body2;
      left: 15px;
      position: absolute;

      svg {
        margin: 0 5px 0 0;
      }
    }

    &__label--big {
      color: $font-color-blue;
      font-size: $font-size-h6;
      font-weight: $font-weight-bold;
      margin: 0 0 rem(22px);
    }
  }
}

@media (max-width: $max-width-md) {
  .page-contact-us {
  
    &__title {
      font-size: $font-size-h4;
      padding: 0 15px;
    }
  
    &__content {
      padding: 0 15px;
    }

    .form-field-radio__label {
      display: none;
      &--mobile {
        display: block;
      }
    }
  }
}

@media (max-width: $max-width-sm) {
  .page-contact-us {
  
    &__title {
      font-size: $font-size-h6;
      padding: 0 5px;
    }
  
    &__content {
      padding: 0 5px;
    }

    .form-field-radio {
      padding: rem(10px) rem(7px);
    }
  }
}