$font-family-base: 'Source Sans Pro', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

$font-weight-base: 400;
$font-weight-bold: 600;

$font-size-h2: 3rem;
$font-size-h3: 2.5rem;
$font-size-h6: 1.5rem; 
$font-size-copy: 1rem;

@mixin font-base {
  font: normal 400 $font-size-base $font-family-base;
  line-height: $line-height-base;
  letter-spacing: .0075rem;
}

@mixin font-button {
  font-size: rem(16px);
  line-height: rem(27px);
  font-weight: $font-weight-bold;
}