$font-family-base: 'Source Sans Pro', sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
$font-weight-bold: 600;

@mixin font-base {
  font: normal 400 $font-size-base / 1.5 $font-family-base;
  letter-spacing: .0075rem;
}

@mixin font-button {
  font-size: rem(16px);
  line-height: rem(27px);
  font-weight: $font-weight-bold;
}