$white: #fff;
$gold: #C4AD6C;

$light-font-color: $white;

$border-color-light: $white;
$border-color-light-alpha: fade-out($white, 0.8);
$border-base-light: 1px solid $border-color-light;
$border-base-light-alpha: 1px solid $border-color-light-alpha;
$border-radius-base: 25px;